<div>
  <ul class="tabs">
    <li [class.active]="activeTab === 'profile'" (click)="activeTab = 'profile'">Perfil</li>
    <li
      *ngIf="user.id !== 0"
      [class.active]="activeTab === 'credential'"
      (click)="activeTab = 'credential'"
    >
      Configurar E-mail de Envio
    </li>
  </ul>
</div>

<div *ngIf="activeTab === 'profile'">
  <h2>{{ user.id === 0 ? 'Cadastrar Perfil' : 'Editar Perfil' }}</h2>
  <form (ngSubmit)="save()" #form="ngForm">
      <label>Nome</label>
      <input [(ngModel)]="user.name" name="name" required />

      <label>Sobrenome</label>
      <input [(ngModel)]="user.lastName" name="lastName" required />

      <label>Email</label>
      <input [(ngModel)]="user.email" name="email" type="email" required />

      <label>Data de nascimento</label>
      <input [(ngModel)]="user.dateOfBirth" name="dateOfBirth" type="date" required />

      <label>Endereço</label>
      <input [(ngModel)]="user.address" name="address" required />

      <label>Sobre</label>
      <textarea [(ngModel)]="user.about" name="about"></textarea>

      <div>
          <label for="cv">Currículo (PDF):</label>
          <input type="file" (change)="onFileSelected($event)" accept="application/pdf" />
          <button (click)="uploadCV(user.id)" [disabled]="!file">Enviar Currículo</button>

          <div *ngIf="path">
              <p><strong>Currículo enviado:</strong> {{ path }}</p>
          </div>
      </div>

      <button type="submit">{{ user.id === 0 ? 'Cadastrar' : 'Atualizar' }}</button>
  </form>
</div>

<div *ngIf="activeTab === 'credential' && user.id !== 0">
  <h2>Configurar E-mail de Envio</h2>
  <form (ngSubmit)="saveEmailConfig()" #emailForm="ngForm">
    <label>E-mail de envio</label>
    <input [(ngModel)]="emailConfig.email" name="credentialEmail" type="email" required />

    <label>Senha do e-mail</label>
    <input [(ngModel)]="emailConfig.pass" name="credentialPass" type="password" required />

    <button type="submit">Salvar Configuração</button>
  </form>
</div>